button {
  display: block;
  background: black;
  color: white;
  font-size: 18px;
  border: 0;
  margin: 10px auto;
  padding: 6px;
  width: 240px;
}

h1, p {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}